@import '~bootstrap/dist/css/bootstrap.css';

:root {
  --common: #999;
  --normal: #000;
  --uncommon: #1aae40;
  --magic: #3044cf;
  --rare: #9144af;
  --legendary: #b49349;
  --epic: #d81310;
}

body {
  margin: 0;
  font-family: 'Segoe Print', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe Print', Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
